[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
httpx = "*"
pytest = "*"

[requires]
python_version = "3.13"

[scripts]
dev = "fastapi dev main.py"
prod = "fastapi run"
test = "pytest"
